select {
    width: 340px;
}

.rel{
    position:relative;
    width:1340px;
    height:700px;
    background-color: white;
}

#birthDate{
   width:340px;
}
.display{
   margin-top:50px;
}
#form {
    margin-left: 30vw;
    margin-right: 30vw;
    border:2px solid red;
    padding:50px 120px;
    background-color: yellow;
}

#color {
   width:195px;
}

#btna{
  margin-left:7vw;
  width:120px;
}